@using Legacy.Maliev.Web.Application

<div data-migration-component="social-links">
    <a href="@SocialNetworks.YouTube" target="_blank" rel="noopener" aria-label="MALIEV on YouTube"><i class="mx-2 fab fa-youtube" aria-hidden="true"></i></a>
    <a href="@SocialNetworks.TikTok" target="_blank" rel="noopener" aria-label="MALIEV on TikTok"><i class="mx-2 fab fa-tiktok" aria-hidden="true"></i></a>
    <a href="@SocialNetworks.Instagram" target="_blank" rel="noopener" aria-label="MALIEV on Instagram"><i class="mx-2 fab fa-instagram" aria-hidden="true"></i></a>
    <a href="@SocialNetworks.Threads" target="_blank" rel="noopener" aria-label="MALIEV on Threads"><i class="mx-2 fab fa-threads" aria-hidden="true"></i></a>
    <a href="@SocialNetworks.Line" target="_blank" rel="noopener" aria-label="Contact MALIEV through LINE Official Account"><i class="mx-2 fab fa-line" aria-hidden="true"></i></a>
    <a href="@SocialNetworks.Messenger" target="_blank" rel="noopener noreferrer" aria-label="Contact MALIEV through Messenger"><i class="mx-2 fab fa-facebook-messenger" aria-hidden="true"></i></a>
    <a href="@SocialNetworks.GoogleMaps" target="_blank" rel="noopener" aria-label="Find MALIEV on Google Maps"><i class="mx-2 fas fa-map-marked-alt" aria-hidden="true"></i></a>
</div>
