@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContext
@{
    var userAgent = httpContext.HttpContext?.Request.Headers.UserAgent;
    var userAgentString = userAgent?.ToString() ?? string.Empty;

    //List<string> compatibleBrowsers = new List<string> { "Firefox", "Safari", "Chrome", "Edge" };
    //bool compatible = compatibleBrowsers.Any(s => userAgentString.Contains(s));

    List<string> incompatibleBrowsers = new List<string> { "Trident" };
    bool incompatible = incompatibleBrowsers.Any(s => userAgentString.Contains(s));

}

@if (incompatible)
{
    <nav class="bg-light border-bottom small">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="pt-1 mb-0 fw-semibold" style="font-size:1rem; color:#9a0000"><i class="fas fa-exclamation-triangle"></i> @Localizer["Please change your browser for best experience."]</p>
                    <div>@Localizer["You are current browsing with"]: @userAgentString</div>
                    <div class="mb-1">
                        <span>@Localizer["We built our website using the latest technology. This make it faster and easier to use. Unfortunately, your browser doesn't support those technologies. Try"] <a href="https://www.mozilla.org/firefox" target="_blank" rel="noopener" style="color: royalblue;">Mozilla Firefox</a> @Localizer["or"] <a href="https://www.google.com/chrome" target="_blank" rel="noopener" style="color: royalblue;">Google Chrome</a>.</span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
}
