<section class="border-top pb-3">
    <div class="container py-4">
        <div class="text-center">
            <h2 class="fw-semibold fs-2">@Localizer["Contact Us"]</h2>
            <p>
                @Localizer["If you have any questions regarding our services. You can reach us easily using several ways listed here."]
            </p>
        </div>
        <div class="row row-cols-1 row-cols-md-4 g-2">
            <div class="col">
                <div class="card border-0 text-center">
                    <a href="tel:+66818030404" target="_blank" rel="noopener"><i class="fas fa-phone-volume fa-3x"></i></a>
                    <div class="card-body">
                        <a class="btn btn-sm btn-block px-1" href="tel:+66818030404" target="_blank" rel="noopener">+66(0)81-803-0404</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 text-center">
                    <a href="@Legacy.Maliev.Web.Application.SocialNetworks.Line" target="_blank" rel="noopener"><i class="fab fa-line fa-3x" style="color:#37ae35"></i></a>
                    <div class="card-body">
                        <a class="btn btn-sm btn-block px-1" href="@Legacy.Maliev.Web.Application.SocialNetworks.Line" target="_blank" rel="noopener">LINE@@: @@maliev</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 text-center">
                    <a href="mailto:info@maliev.com" target="_blank" rel="noopener"><i class="fas fa-envelope fa-3x"></i></a>
                    <div class="card-body">
                        <a class="btn btn-sm btn-block px-1" href="mailto:info@maliev.com" target="_blank" rel="noopener">info@maliev.com</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 text-center">
                    <a href="@Legacy.Maliev.Web.Application.SocialNetworks.GoogleMaps" target="_blank" rel="noopener"><i class="fas fa-map-marked-alt fa-3x"></i></a>
                    <div class="card-body">
                        <a class="btn btn-sm btn-block px-1" href="@Legacy.Maliev.Web.Application.SocialNetworks.GoogleMaps" target="_blank" rel="noopener">MALIEV Co., Ltd.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>