@using Legacy.Maliev.Web.Components.Layout
<!DOCTYPE html>
<html lang="@System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="description" content="@ViewData["Description"]" />
    <meta name="keywords" content="@ViewData["Keywords"]" />
    <meta name="author" content="Maliev Company Limited" />
    <meta name="language" content="@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName" />
    <meta name="google-site-verification" content="VJpjseHYMhCHfLRtxeqveJrI5V_ToBH3gYeXydgJEeQ" />
    <meta name="theme-color" content="#1A1A1A" /> @*Address Bar Matches Brand Colors*@
    @if (ViewData["Robots"] is string robotsDirective && !string.IsNullOrWhiteSpace(robotsDirective))
    {
        <meta name="robots" content="@robotsDirective" />
    }
    @RenderSection("Meta", required: false)

    <title>@ViewData["Title"]</title>

    <component type="typeof(PublicOpenGraphMetadata)" render-mode="Static" param-Model="@(PublicOpenGraphMetadataDisplayModel.Create(Context, ViewData["Title"], ViewData["Description"], ViewData["Image"]))" />
    <partial name="_FaviconsPartial" />
    <partial name="_GoogleTagManagerPartial" />
    <component type="typeof(PublicDocumentLinks)" render-mode="Static" param-Model="@(PublicDocumentLinksDisplayModel.Create(Context))" />
    <partial name="_CssPartial" />
    <partial name="_FontPartial" />
    @* Structured Data / Schema Markup *@
    <component type="typeof(PublicBusinessStructuredData)" render-mode="Static" param-Model="@(PublicBusinessStructuredDataDisplayModel.Create())" />
    @RenderSection("Schema", required: false)

    <link rel="shortlink" href="https://www.maliev.com/" />
    @RenderSection("Head", required: false)
</head>
<body style="font-family: 'Inter', 'Noto Sans Thai', sans-serif;">
    <a class="maliev-skip-link" href="#main-content">@Localizer["Skip to main content"]</a>
    <partial name="_FacebookSdkPartial" />
    <partial name="_GoogleTagManagerBodyPartial" />
    <partial name="_CookieConsentPartial" />
    <component type="typeof(PublicNavigation)" render-mode="Static" param-Model="@(PublicNavigationDisplayModel.Create(Context, ViewData["SuppressIdentityNavigation"] is true))" />
    <partial name="_BrowserCompatibilityCheckPartial" />
    <div id="main-content" tabindex="-1">
        @RenderBody()
    </div>
    <component type="typeof(PublicFooter)" render-mode="Static" />
    @*<partial name="_Go2TopPartial" />*@
    @*<partial name="_ReportBugPartial" />*@
    <partial name="_ContactChannelAnalyticsPartial" />
    <partial name="_JavaScriptsPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>
