<div class="fw-semibold">@Localizer["Available Payments"]</div>
<div class="mb-3">
    <div class="row">

        @* <div class="col-6 col-sm-auto mb-2">
            <div class="fw-semibold mb-1">@Localizer["Online"]</div>
            <i class="sprite-payments sprite-payments-logo-thaiqrpayment d-inline-block mb-1"></i>
        </div> *@
        
        @*
        <div class="col-6 col-sm-auto mb-2">
            <div class="fw-semibold mb-1">@Localizer["Credit Card"]</div>
            <i class="sprite-payments sprite-payments-logo-visa d-inline-block mb-1"></i>
            <i class="sprite-payments sprite-payments-logo-mastercard d-inline-block mb-1"></i>
        </div>*@

        <div class="col-6 col-sm-auto mb-2">
            <div class="fw-semibold mb-1">@Localizer["Bank"]</div>
            <i class="sprite-payments sprite-payments-logo-kasikornbank d-inline-block mb-1"></i>
            @*<i class="sprite-payments sprite-payments-logo-bangkokbank d-inline-block mb-1"></i>
            <i class="sprite-payments sprite-payments-logo-krungsribank d-inline-block mb-1"></i>
            <i class="sprite-payments sprite-payments-logo-krungthaibank d-inline-block mb-1"></i>
            <i class="sprite-payments sprite-payments-logo-scbbank d-inline-block mb-1"></i>
            <i class="sprite-payments sprite-payments-logo-thanachartbank d-inline-block mb-1"></i>
            <i class="sprite-payments sprite-payments-logo-tmbbank d-inline-block mb-1"></i>*@
        </div>

        <div class="col-6 col-sm-auto mb-2">
            <div class="fw-semibold mb-1">@Localizer["Cash"]</div>
            <i class="sprite-payments sprite-payments-logo-cash d-inline-block mb-1"></i>
        </div>
    </div>
</div>